#authentication {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #423c34;
}
#auth-form {
  background: #6f4a7d;
  width: 50%;
  padding: 20px 30px 40px 30px;
}

#auth-form h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

.form-group {
  margin-bottom: 20px;
}

#username {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}

#password {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
}

#submit {
  background: #ffffff;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid black;
}

#submit:hover {
  background: #000000;
  color: #ffffff;
}
